body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.dateContainer {
	display        : flex;
	justify-content: flex-start;
}

@page {
	size   : auto;
	/* auto is the initial value */
	margin : 1rem;
	/* this affects the margin in the printer settings */
	padding: 1rem;
}

.yesBtn {
	border : 1px solid black !important;
}

.yesBtn:hover {
	color: black !important;
}

@media print {
	#main{margin:100px 0;}
}

.endOfContract {
	display: flex;
	flex-direction: row;
	font-weight: bold;
  }
  .endOfContract:before, .endOfContract:after{
	content: "";
	flex: 1 1;
	border-bottom: 1px solid;
	margin: auto;
  }
  .endOfContract:before {
	margin-right: 10px
  }
  .endOfContract:after {
	margin-left: 10px
  }